.owl-theme .owl-nav [class*='owl-']:hover {
    background-color: transparent !important;
}
.owl-theme .owl-nav [class*='owl-']:focus {
    outline: none !important;
    border:none !important;
}
.owl-nav {
    position: absolute;
    top:-75px; 
    right:0;
    button{
        margin:0 !important;
    }
    img {
        width: 35px; 
    }
}