 
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');


html {
	font-family: 'Montserrat', sans-serif;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}


body {
    color: #1a1a1a;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    line-height: 32px;
    letter-spacing: 0.3px;
}




p {
    margin: 26px 0px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
    clear: both;
    font-weight: 700;
    margin: 0;
    text-rendering: optimizeLegibility;
}


img {
    vertical-align: middle;
    margin: 25px 0px;
    width: 100%;
-webkit-box-shadow: 0px 1px 27px 1px rgba(44, 46, 61, 0.25);
    -moz-box-shadow: 0px 1px 27px 1px rgba(44, 46, 61, 0.25);
    box-shadow: 0px 1px 27px 1px rgba(44, 46, 61, 0.25);
}








.site {
    width: 100%;
    margin: 0px;
    clear: both;
    display: block;
}

h4.theme-title {
    margin: 32px 0px;
}




body {
 padding-top:50px;
}

#masthead { 
 min-height:250px;
}

#masthead h1 {
 font-size: 30px;
 line-height: 1;
}

#masthead .well {
 margin-top:8%;
}

@media screen and (min-width: 768px) {
  #masthead h1 {
    font-size: 50px;
  }
}

.navbar-bright {
 background-color:#111155;
 color:#fff;
}

.affix-top,.affix{
 position: static;
}

@media (min-width: 979px) {
   
  
   

  .affix {
      position: fixed;
      top: 70px;
      width:228px;
    }


    .affix-top {
      position: static;
      width:228px;
      margin-top: 35px;
    }

    .affix-bottom {
      position: relative;
      width:228px;
    }
}



/*Botanic documentation*/


#masthead {
    padding: 30px 0 20px 0;
    margin-bottom: 20px;
    border-bottom: 1px solid #eee;
}
h1 {
    padding-top: 60px;
}
#sidebar li  {width: 100%; display: block; }
#sidebar li a {
    display: inline-block;
    padding: 5px 0 5px 0; 
    color: #777;
}

a {
    color: #f7224a;
}

.installation-video {
    text-align: center;
    margin: 40px 0;
}
h2.theme-title {
    font-size: 30px;
    color: #000;
    margin: 22px 0px;
}

h4.inv-doc-sub-title {
    font-size: 20px;
    margin: 20px 0px;
}

h5.inv-doc-small-title {
    margin-bottom: 17px;
    font-size: 16px;
    letter-spacing: 1px;
}
#sidebar li a:before {
     counter-increment: section;
    content: counters(section,".") ". ";
}
.inv-doc-list-wrapper {
    counter-reset: section;
    list-style-type: none;
}

.nav>li>a:focus, .nav>li>a:hover {
    text-decoration: none;
    background-color: transparent;
    color: #f7224a !important;
}
#sidebar li a {
    color: #777;
    padding: 4px 4px 4px 0px;
    text-decoration: none;
    border-color: #eee;
   border-left: 1px solid rgba(0,0,0,0);
}
#sidebar li.active > a {
    color: #f7224a;
}

.plugin-install {
    margin-top: 23px;
}
.inv-doc-title {
    margin: 40px 0 20px;
    border-bottom: 1px solid #eee;
    padding-bottom: 18px;
    margin-bottom: 26px;
    padding-top: 0;
    font-style: normal;

}

#sidebar li.active ol {
    display: block;
}
#sidebar li ol {
    display: none;
    list-style: none;
    padding-left: 0;
   font-size: 14px;
    letter-spacing: 0;
}
ol.sub li {
    display: inline-grid;
}
#sidebar li ol a {
    padding-left: 37px;
}
ol {
    counter-reset: section;
}
#sidebar li.active > a {
    
    color: #f7224a;
    border-color: #f7224a;
    border-width: 2px;
}
.h5-title {
    margin-bottom: 10px;
}
i.strong-text {
    background: #eee;
    color: #333;
    font-style: normal;
    padding: 4px 6px;
    border-radius: 2px;
}
.theme-title-main{
   font-weight:600;
}
ul.inv-template-data {
    padding-left: 10px;
    margin-top:10px;
}
ul.inv-template-data li {
    list-style: none;
    margin-bottom: 20px;
    padding-left: 25px;
    position: relative;
    line-height: 1.74em;
}
span.inv-template-data-inner {
    padding-right: 10px;
    color: #000;
    font-weight: bold;
    position: absolute;
    left: 0;
}
.notice.tip {
    border-color: #fc3;
    margin-bottom: 30px;
}
.notice {
    background: #f7f7f7;
    border-left: 3px solid #ddd;
    padding: 32px;
    font-size: 14px;
    line-height: 24px;
}

code {
    font-size: 87.5%;
    color: #e83e8c;
    word-break: break-word;
    background-color: #f9f2f4;
    border-radius: 4px;
    padding: 2px 4px;
}

pre {
    padding: 20px;
    margin-top: 15px;
    font-size: 13px;
    line-height: 18px;
    background: #262626;
    color: #ffffff;
    display: block;
    border-radius: 5px; 
}

.comment {
    color: #009900 !important;
    display: inline-block;
    margin: 10px 0;
}
#sidebar li.active > a {
    color: #f7224a;
    border-color: #f7224a;
    border-width: 2px;
}
#sidebar li.active ol {
    display: block;
}

#sidebar li a {
    color: #777;
    padding: 4px 4px 4px 20px;
    text-decoration: none;
    border-color: #eee;
    border-left: 1px solid rgba(0,0,0,0);
}

.fixed-top {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
}
.bg-light {
    background-color: #f8f9fa!important;
}

.navbar-light .navbar-brand {
    color: rgba(0,0,0,.9);
}
.theme-title-main {
    font-weight: 600;
}